/* Card de detalhes da marca */
.detailsContainer {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 12px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Item individual */
.detailItem {
  font-size: 1rem;
  color: #555;
  display: flex;
  justify-content: space-between;
}

.detailItem strong {
  color: #212529;
  font-weight: 600;
}
